name: Release

on:
  release:
    types:
      - published

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build package
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5.0.1

      - name: Set up Python 3.x
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244  # v7.1.4
        with:
          version: "0.9.15"

      - name: Set version number
        run: script/set-version ${{ github.event.release.tag_name }}

      - name: Build
        run: uv build

      - name: Upload dists
        uses: actions/upload-artifact@v5.0.0
        with:
          name: "dist"
          path: "dist/"
          if-no-files-found: error
          retention-days: 5

  publish:
    name: Publish release to PyPI
    runs-on: ubuntu-latest
    needs: "build"
    environment:
      name: release
      url: https://pypi.org/project/awesomeversion
    permissions:
      id-token: write
    steps:
    - name: Download dists
      uses: actions/download-artifact@v6.0.0
      with:
        name: "dist"
        path: "dist/"

    - name: Publish dists to PyPI
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0